{% extends "Shop/base.html" %}

{% block content %}

{% load static %}
<main class="index-main">
    <h1>PythonInter</h1>
    <p class="lead"></p>
    <p><a class="btn btn-primary btn-large">Читать больше &raquo;</a></p>

    <div class="col-md-4">
        <h2>Отзывы клиентов</h2>
        <p></p>
        <p><a class="btn btn-default">Читать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Наша проекты</h2>
        <p></p>
        <p><a class="btn btn-default">Читать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Наша цель</h2>
        <p></p>
        <p><a class="btn btn-default">Читать больше &raquo;</a></p>
    </div>
</main>

{% endblock %}
